.DS_Store
.vs
.vscode
.env
.env.*
.secrets
npm-debug.log
*.code-workspace
*.db
.nyc_output
.history
/.idea/
*.tsbuildinfo
.e2e-containers.json
schema.yaml
schema.json
.*.swp
node_modules
coverage
TODO
dist
debug
uploads
!.env.example
